body {
    margin: 0;
    background-image: url('../hBooking/img/bg.jpg');;
}

.hero {
    /* display: flex; */
    height: 100vh;
    background-color: brown;
    background-image: url('../hBooking/img/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


.hero-text {
    top: 25%;
    position: relative;
    z-index: 2;
}

.footer {
    background-color: lightgray;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.hero-text {
    color: white;
    text-align: center;
    padding-top: 7%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
}

.nav-animate {
    position: relative;
    display: inline-block;
}

.nav-animate::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-animate:hover::after {
    color: white;
    width: 100%;
}

.navbar.scrolled {
    background-color: black;
    color: black;
}

.footer {
    /* position:sticky; */
    bottom: 0;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.book-hotel {
    border: 1px solid #000068;
    border-radius: 5px;
    background-color: #000068;
}

.book-hotel {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.room-img {
    width: 100%;
    height: 75%;
}

.room-type .room-text {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.hotel-item-content {
    background-color: blue;
}

.hotel-offers {
    padding-top: 5%;
    margin-top: 10%;
    height: auto;
}

.about-us-img {
    height: 40%;   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 5%;
}

.about-us-text {
    margin-top: 5%;
    padding-right: 5%;
}

.about-us {
    padding-top: 5%;
    margin-top: 10%;
    height: auto;
}

.booking-container {
    padding-top: 5%;
    margin-top: 10%;
}

.booking-success-container {
    padding-top: 5%;
    margin-top: 10%;
}