{% extends 'hBooking/base.html' %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="hero-content h-100">
        <div class="hero-text container text-center">
            <h1>Welcome to the Hotel Booking App</h1>
            <p>Book your stay with us!</p>
        </div>
    </div>
</section>

<section class="hotel-offers container mt-5 h-100">
    <div class="hotel-list-content container">
        <h1>Hotel offers</h1>
        {% for h in hotelTypesList %}
            <div class="hotel-item row mb-4">
                <div class="col-md-4">
                    {% if h.hotel_img %}
                    <img src="{{ h.hotel_img }}" alt="{{ h.hotel_type }}" class="img-fluid">
                    {% else %}
                    <img src="{% static 'hBooking/images/default-hotel.jpg' %}" alt="Default Hotel Image" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h2>{{ hotel.hotel_type }}</h2>
                    <p>Book now to enjoy our exclusive offers!</p>
                </div>
            {% empty %}
                <p>No hotel offers available at the moment. Please check back later.</p>
            {% endfor %}
    </div>
</section>

<section class="container about-us text-end ">
    <div class="about-us-content mt-5 mb-5 h-50">
        <h2>About Us</h2>
        <p>We are a leading hotel booking platform offering the best deals and services.</p>
    </div>
</section>



{% endblock %}