{% extends 'hBooking/base.html' %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="hero-content h-100">
        <div class="hero-text container text-center">
            <h1>Welcome to the Hotel Booking App</h1>
            <p>Book your stay with us!</p>
        </div>
    </div>
</section>

<section class="hotel-offers container mt-5 h-100">
    <div class="hotel-list-content container">
        <h1>Hotel offers</h1>
    </div>
</section>

<section class="container about-us text-end ">
    <div class="about-us-content mt-5 mb-5 h-50">
        <h2>About Us</h2>
        <p>We are a leading hotel booking platform offering the best deals and services.</p>
    </div>
</section>



{% endblock %}