<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link nav-animate" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-animate" href="#">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-animate" href="#">About us</a>
        </li>
        <li class="nav-item ms-auto">
          <a class="nav-link book-hotel" href="{% url 'booking' %}">Book a Hotel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>